body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}



#head {
    display: flex;
    align-items: flex-end;
    padding: 0px;
    margin: 0px;
}





  









/*Name and address*/
.My_info{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    margin-left: 10px;
    margin-right: 50px;

}

.My_info div p{
    margin: 0px;
    padding: 0px;

}

.name{
    font-size: 20px;
    font-weight: bold;
}

.name2{
    font-size: 15px;

}



.address{
    display: flex;
    margin-top: 10px;
}
.address p{
    font-size: 15px;
}
.address svg{
    width: 15px;
    
}

/*Icons*/

main{
    margin-top: 10px;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center
}

nav a{
    margin: 10px;
}

.OF{
    text-align: center;
    margin-top: center;
}


